{% extends 'base.html.twig' %}

{% block title %}Modifier Leçon{% endblock %}

{% block body %}
    <br/>
    <div style="text-align: center;"><h1>Modifier la Leçon</h1></div>
    <br/>
    <div class="row">
        <div class="col-6 mx-auto" >
            {{ include('layers/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
