{% extends 'base.html.twig' %}

{% block title %}Créer Leçon{% endblock %}

{% block body %}
    <br/>
    <div style="text-align: center;"><h1>Créer une Leçon</h1></div>
    <br/>
    <div class="row">
        <div class="col-6 mx-auto" >
            {{ include('layers/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
