{% extends 'base.html.twig' %}

{% block title %}Leçon{% endblock %}

{% block body %}
    <br/>
    <div style="text-align: center;"><h1>Leçon</h1></div>
    <br/>
    {{ include('layers/_show_lecon.html.twig') }}
{% endblock %}
