{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <br/>
    <div style="text-align: center;"><h1>Utilisateur</h1></div>
    <br/>
    {{ include('layers/_show_user.html.twig') }}
{% endblock %}
